@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coffee Shop</h1>
    <p class="lead">Senses Coffee Shop is the best place in the world to drink coffee and learn C#.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who are we?</h2>
        <p>We are a bunch of nerds who love coffee, pizza and biomedical engineering. A bit of Jazz is always a good idea.</p>
    </div>
    <div class="col-md-4">
        <h2>We do we sell?</h2>
        <p>We sell Coffee!</p>
        <p>For example: @ViewData["coffees"].</p>
    </div>
    <div class="col-md-4">
        <h2>Where can you find us?</h2>
        <p>You can go to our <a>Facebook page!</a></p>
    </div>
</div>